<!DOCTYPE html>
<html>
  <head>
    <title>Edit Location</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/EditAdd.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <a href="{{ url_for('view_locations') }}" class="close-icon"
        ><i class="fas fa-times"></i
      ></a>
      <h1>Edit Location</h1>
      <form method="post">
        <label>Location ID (cannot change):</label><br />
        <input
          type="text"
          name="location_id"
          value="{{ location.location_id }}"
          disabled
        /><br />

        <label>Location Name:</label><br />
        <input
          type="text"
          name="location_name"
          value="{{ location.location_name }}"
          required
        /><br />

        <input type="submit" value="Save" />
      </form>
    </div>
  </body>
</html>
