<!DOCTYPE html>
<html>
  <head>
    <title>Product Movements</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/EditAdd.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <h1>Product Movements</h1>
    <div class="container">
      <a href="{{ url_for('inventory_report') }}" class="close-icon"
        ><i class="fas fa-times"></i
      ></a>
      <a href="{{ url_for('add_movement') }}"
        ><button class="add-button">Add Movement</button></a
      >
      <table>
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>From</th>
          <th>To</th>
          <th>Product</th>
          <th>Qty</th>
          <th>Actions</th>
        </tr>

        {% for move in movements %}
        <tr>
          <td>{{ move.movement_id }}</td>
          <td>{{ move.timestamp }}</td>
          <td>{{ move.from_location_name or '-' }}</td>
          <td>{{ move.to_location_name or '-' }}</td>
          <td>{{ move.product_name }}</td>
          <td>{{ move.qty }}</td>
          <td>
            <a
              href="{{ url_for('edit_movement', movement_id=move.movement_id) }}"
            >
              <button class="action-btn btn-edit">
                <i class="fas fa-pen"></i>
              </button>
            </a>

            <a
              href="{{ url_for('delete_movement', movement_id=move.movement_id) }}"
              onclick="return confirm('Are you sure you want to delete this movement?');"
            >
              <button class="action-btn btn-delete">
                <i class="fas fa-trash"></i>
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
